<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
      <!-- header section end -->
      <div th:replace="~{layouts/header :: header}"></div>
   <body>
      <!-- header section end -->
      <!-- layout_border start -->
      <div class="container-fluid">
         <div class="layout_border">
            <!-- signin section start -->
            <div class="signup_section layout_padding">
               <div class="container">
                  <div class="row">
                     <div class="col-sm-12">
                        <h1 class="signup_taital">아이디와 패스워드를 입력해주세요.</h1>
                     </div>
                  </div>
               </div>
               <div class="container">
                  <div class="signup_section_2">
                     <div class="row">
                        <div class="col-md-6">
                           <div class="mail_section_1">
                              <form action="/signup" method="post" th:action="@{/submit}">
                              <input type="text" class="mail_text" placeholder="ID" name="username">
                              <input type="text" class="mail_text" placeholder="Password" name="password">
                              <button type="submit" class="send_bt" data-toggle="modal" data-target="#signuModel"><a>회원 가입</a></button>
                              </form>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- signin section end -->
            <div class="modal" tabindex="-1" role="dialog" id="myModal">
               <div class="modal-dialog" role="document">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h5 class="modal-title">가입 완료</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                        </button>
                     </div>
                     <div class="modal-body">
                        <p>가입이 완료되었습니다.</p>
                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                     </div>
                  </div>
               </div>
            </div>

            <!-- layout_border end -->
         </div>
      </div>
      <!-- footer section start -->
      <div th:replace="~{layouts/footer :: footer}"></div>
      <!-- footer section end -->
   </body>
</html>