<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
      <!-- header section end -->
      <div th:replace="~{layouts/header :: header}"></div>
   <body>
      <!-- header section end -->
      <!-- layout_border start -->
      <div class="container-fluid">
         <div class="layout_border">
            <!-- signup section start -->
            <div class="signup_section layout_padding">
               <div class="container">
                  <div class="row">
                     <div class="col-sm-12">
                        <h1 class="signup_taital">아이디와 패스워드를 입력해주세요.</h1>
                     </div>
                  </div>
               </div>
               <div class="container">
                  <div class="signup_section_2">
                     <div class="row">
                        <div class="col-md-6">
                           <div class="mail_section_1">
                              <input type="text" class="mail_text" placeholder="ID" name="id">
                              <input type="text" class="mail_text" placeholder="Password" name="password">
                              <div class="send_bt"><a href="#">로그인</a></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- signup section end -->
            <!-- layout_border end -->
         </div>
      </div>
      <!-- footer section start -->
      <div th:replace="~{layouts/footer :: footer}"></div>
      <!-- footer section end -->
   </body>
</html>