<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
      <!-- header section end -->
      <div th:replace="~{layouts/header :: header}"></div>
   <body>
      <!-- header section end -->
      <!-- layout_border start -->
      <div class="container-fluid">
         <div class="layout_border">
            <!-- signin section start -->
            <div class="signup_section layout_padding">
               <div class="container">
                  <div class="row">
                     <div class="col-sm-12">
                        <h1 class="signup_taital">아래 정보를 모두 입력해주세요.<br>단, 관리자일 경우 Role에 관리자 코드를 넣어주시고 일반 고객일경우 입력하지 말아 주세요.</h1>
                     </div>
                  </div>
               </div>
               <div class="container">
                  <div class="signup_section_2">
                     <div class="row">
                        <div class="col-md-6">
                           <div class="mail_section_1">
                              <form th:action="@{/signup}" method="post" th:object="${memberRequestDTO}">
                                 <input type="text" class="mail_text" placeholder="ID" name="username" th:field="*{username}">
                                 <span th:if="*{#fields.hasErrors('username')}"><p th:errors="*{username}"></p></span>
                                 <input type="text" class="mail_text" placeholder="Password" name="password" th:field="*{password}">
                                 <span th:if="*{#fields.hasErrors('password')}"><p th:errors="*{password}"></p></span>
                                 <input type="text" class="mail_text" placeholder="Email" name="email" th:field="*{email}">
                                 <span th:if="*{#fields.hasErrors('email')}"><p th:errors="*{email}"></p></span>
                                 <input type="text" class="mail_text" placeholder="Nickname" name="nickname" th:field="*{nickname}">
                                 <span th:if="*{#fields.hasErrors('nickname')}"><p th:errors="*{nickname}"></p></span>
                                 <input type="text" class="mail_text" placeholder="Role" name="role" th:field="*{role}" th:value="${role ?: 'USER'}">
                                 <span th:if="*{#fields.hasErrors('role')}"><p th:errors="*{role}"></p></span>
                                 <button type="submit" class="send_bt"><a>회원 가입</a></button>
                              </form>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

            <!-- layout_border end -->
         </div>
      </div>
      <!-- footer section start -->
      <div th:replace="~{layouts/footer :: footer}"></div>
      <!-- footer section end -->
   </body>
</html>